extends layout

block content
  canvas#canvas(height='100%', width='100%')

  script(src="/socket.io/socket.io.js")
  script(src="/lib/impact/impact.js")
  script(src="/lib/game/client.js")

  script(src="/lib/threejs/three.js")
  script(src="/lib/threejs/RequestAnimationFrame.js")
  script(src="/lib/threejs/tween.js")

  script(src="/lib/threed/ColladaLoader.js")
  script(src="/lib/threed/css3worldspace.js")
  script(src="/lib/threed/hiparcos.js")
  script(src="/lib/threed/marker.js")
  script(src="/lib/threed/OrbitControls.js")
  script(src="/lib/threed/plane.js")
  script(src="/lib/threed/shaderlist.js")
  script(src="/lib/threed/starsystems.js")
  script(src="/lib/threed/threex.cubetexturehcross.js")
  script(src="/lib/threed/threex.keyboardstate.js")
  script(src="/lib/threed/threex.skymap.js")
  script(src="/lib/threed/threex.texturecube.js")
  script(src="/lib/threed/threex.universeloader.js")

  script(src="/lib/threed/collada/Animation.js")
  script(src="/lib/threed/collada/AnimationHandler.js")
