doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')

    script.
        var global = window;
    script(src="lib/weltmeister/jquery-1.7.1.min.js")
    body
        block content
